body {
  background: linear-gradient(180deg, #120000, #000000);
  color: #ffcccc;
  font-family: Arial, sans-serif;
}

header {
  padding: 80px;
  text-align: center;
  text-shadow: 0 0 20px darkred;
}

.story {
  max-width: 850px;
  margin: 70px auto;
  font-size: 1.25em;
  line-height: 2;
}

.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0 10%;
}

.media img, .media video {
  width: 100%;
  box-shadow: 0 0 25px rgba(139,0,0,0.7);
}
@media (max-width: 768px) {

  /* ШАПКА */
  header {
    height: 250px;
    padding: 20px;
  }

  header h1 {
    font-size: 1.6em;
  }

  header p {
    font-size: 1em;
  }

  header nav a {
    display: block;
    margin: 8px 0;
  }

  /* ТЕКСТ */
  .story {
    margin: 40px 20px;
    font-size: 1.1em;
    line-height: 1.7;
  }

  /* МЕДИА */
  .media {
    grid-template-columns: 1fr;   /* одна колонка */
    padding: 0 20px;
  }

  .media img,
  .media video {
    height: 200px;               /* одинаковый размер */
  }

  /* НУМЕРАЦИЯ */
  .pages {
    padding: 30px;
  }

  .pages a,
  .pages span {
    font-size: 1em;
    margin: 0 6px;
  }

  /* ПОДВАЛ */
  footer {
    padding: 30px 20px;
    font-size: 0.9em;
  }
}